h5{
    position: absolute;
}

 .file-upload-input {
   z-index: 10;
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   outline: none;
   opacity: 0;
   cursor: pointer;
 }

 .image-upload-wrap {
  text-align: center;
  height: 50px;
  width: 75%;
  border: dotted grey;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
 }

 .titulo{
  z-index: -500;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
 }